<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Вход в систему</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="bg-custom">
      <div class="container">
        <h1 class="text-center text-white py-3">Вход в систему</h1>
      </div>
    </header>

    <main class="container my-4">
      <section id="login-form" class="mx-auto" style="max-width: 400px;">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form action="/login" method="post" novalidate>
          <div class="mb-3">
            <label for="login" class="form-label">Логин</label>
            <input
              type="text"
              id="login"
              name="login"
              class="form-control"
              required
              placeholder="Введите логин"
              autofocus />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
              placeholder="Введите пароль" />
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary w-100">Войти</button>
          </div>
        </form>
      </section>
    </main>

    <footer class="bg-custom mt-auto">
      <div class="container">
        <p class="m-0 text-white py-3">© Уманец Софья</p>
      </div>
    </footer>
  </body>
</html>